@font-face {
    font-family: ObviouslyVariable;
    src: url('https://use.typekit.net/af/94379b/0000000000000000774b907c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3');
}

:root {
    --couleur-texte: #2a292b;
    --color-bg: #f9f4ed;
    --color-bouton: #ff5c00;
    --hauteur-entete: 5rem;
    --border-radius: 1.25rem;
    --espacement: 0.75rem
}

* {
    box-sizing: border-box;
}

body {
    margin: var(--espacement);
}

header {
    display: flex;
    align-items: center;
    height: var(--hauteur-entete);
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
}

nav.main-nav {
    display: flex;
    gap: 2rem;
    font-family: 'ObviouslyVariable';
    font-weight: 400;
    color: var(--couleur-texte);
    align-items: center;
}

.logo {
    margin-left: 1rem;
}

.right-icons {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    height: 80vh;
}

button {
    background-color: var(--color-bouton);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    font-family: 'ObviouslyVariable';
    font-weight: 700;
}

aside {
    flex-basis: 35vw;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article {
    font-family: 'ObviouslyVariable';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    background-color: var(--color-bg);
    padding: 1rem;
    border-radius: var(--border-radius);
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.big-text {
    
    font-weight: 800;
    font-size: 8rem;
    color: var(--couleur-texte);
    text-align: center;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--couleur-texte);
}